.foot{
    border-top:1px solid @lineColor;
    padding: 0;
    margin: 0;
    
    bottom: 0;
    .h(40);
    .lh(40);
    left:0;
    right:0;
    .fs(0);
    li{
        .fs(20);
        width:33.33%;
        color:@muteColor;
    }
}